

.headerdiv{
    display: flex;
    overflow:hidden;
    height: 120px;
    background-color: rgb(240, 138, 43);
    margin-top: 0%;  
}

.headerdiv h1{
    color: rgb(16, 16, 16);
    font-family:'Courier New', Courier, monospace;
    font-weight:1;
    font-size: 550%;
    margin: auto;
}

.navbar{
    filter: drop-shadow(0px 10px 8px rgb(12, 12, 12));
    margin: auto;
    height: 40px;
    background-color: rgb(16, 16, 16);
    text-align: center;
    display: flex;
}

.navbar a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    font-weight: bold;
    padding: 11px;
    width: 120px;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 40, 40);  
    margin: auto;
}

.navbar a:hover{
    font-family: 'Courier New', Courier, monospace;
    font-size: 105%;
    font-weight: bolder;
    padding: 11px;
    width: 120px;
    color: rgb(255, 255, 255);
    background-color: rgb(194, 102, 56);  
    margin: auto;
}

#selected{
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    font-weight: bolder;
    padding: 11px;
    width: 120px;
    color: rgb(0, 0, 0);
    background-color: rgb(240, 138, 43);  
    margin: auto;
}

.pfp{
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
    width: 400px;
    border-radius: 500px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.resume{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 90px;
    width: 800px;
}

body{
    background-image: url(images/crissxcross.png);
    background-color: rgb(58, 58, 58);
    
}

.generalbody {
    display: flex;
    width: fit-content;
    max-width: 900px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:125px;
    color: rgb(255, 255, 255);
    background-color: rgb(16, 16, 16);
    filter: drop-shadow(0 0 .25rem rgb(0, 0, 0));
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
    font-size: 150%;
    text-align: center;
}

.bottom{
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    position: fixed;  
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    height: 45px;
    width: auto;
    background-color: rgb(240, 138, 43);
    text-align: center;
}

.bottom p{
    font-weight: bold;
    font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
}

.gallery-container img{
    border-radius: 25px;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    background-color:rgb(240, 138, 43);
    display: flex;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 775px;
    height: auto;
    overflow: hidden;
}

.biocontainer{
    border-radius: 25px;
    background-color:rgb(240, 138, 43);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 80px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.biocontainer p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
}

.gallerydescription{
    
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    max-width: 650px;
    margin: auto;
    padding: 20px;
    align-self: center;
    text-align: center;
    flex-wrap: wrap;
    width:fit-content;
    color:rgb(255, 255, 255);
    background-color:rgb(16, 16, 16);
}

.downloadlink{
    padding: 10px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background-color:rgb(16, 16, 16);
    width: 830px;
    text-align: center;

}

.downloadlink a{
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(255, 255, 255);
    background-color:rgb(40, 40, 40);
}

.downloadlink a:hover{
    background-color:rgb(194, 102, 56);
    color:rgb(255, 255, 255);
    font-size: 21px;
}

.highschool{
    border-radius: 25px;
    padding: 20px;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    background-color:rgb(16, 16, 16);
    width:1600px;
    height:600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 125px;
    text-align: center;
    display: flex;
}

.highschool img{
    height:475px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    float: left;
}

.highschool p{
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.games{
    border-radius: 25px;
    padding: 20px;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    background-color:rgb(240, 138, 43);
    width:1200px;
    height:600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    margin-top: 2px;
    text-align: center;
    display: flex;
}

.games p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 35px;
    vertical-align: middle;
}
